<section class="text-white p-5">
   <div>
       
   <div class="border-b border-b-slate-500/40 mb-4 pb-2">
    <h1 class="font-narrow mb-2 text-2xl">Public Key</h1>
        <p>Your public key can be saved anywhere</p>
    </div>
    <div class="flex items-center flex-col">
        <button class="self-end block m-4 text-right">Generate</button>
    <div class="flex items-center mb-8 bg-slate-500/40 p-2">
        <input class="bg-transparent w-full p-5 text-slate-500 text-lg flex-1" disabled="disabled" value="jshsi+#92uGUgjsbjsj7-usjwu+hsj-jsh7uJhIv+=v7=:u=8"/>
        <button type="button" class="font-narrow px-3">Copy</button>
    </div>
    </div>
   </div> 
   <div>
   <div class="border-b border-b-slate-500/40 mb-4 pb-2">
    <h1 class="font-narrow mb-2 text-2xl">Secret Key</h1>
        <p>Your Secret key will be required during API Calls</p>
    </div>
    <div class="flex items-center flex-col">
        <button class="self-end block m-4 text-right">Generate</button>
    <div class="flex items-center mb-8 bg-slate-500/40 p-2">
        <input class="bg-transparent w-full p-5 text-slate-500 text-lg flex-1" disabled="disabled" value="jshsi+#92uGUgjsbjsj7-usjwu+hsj-jsh7uJhIv+=v7=:u=8"/>
        <button type="button" class="font-narrow px-3">Copy</button>
    </div>
    </div>
   </div> 
</section>