<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.6/flowbite.min.css" rel="stylesheet" />
        
        <link rel="stylesheet" href="/resources/stylesheets/prism.css" />
        <link rel="stylesheet" href="/resources/stylesheets/globals.css" />
        <title><%- metadata.appName %> - Zuma-ui documentation</title>
    </head>
   <body class="bg-black md:hidden">
        
