                <a href="<%- card?.url %>" class="line-gradient">
                    <div class="card">
                        <div class="icon"><img width="50" height="50" loading="lazy" src="/resources/images/<%- card?.icon %>" alt=""></div>
                        <h1 class="font-narrow font-bold"><%- card?.title %></h1>
                        <p><%- card?.description %></p>
                    </div>
                </a>
