<%
const links = [
    {label:"Instantiation"}
    ]
%>

<div class="p-5 sticky top-0 backdrop-blur-lg drop-shadow-lg border-b z-10 border-b-white/10">
    <button id="open-sidebar" class="py-1 px-3 rounded-lg">Menu</button>
</div>

<aside id="sidebar" class="sidebar">
    <div class="sticky top-0 backdrop-blur-2xl bg-white/20 backdrop-brightness-200 z-10 flex justify-between items-center p-5">
    <a href="/" class="">
                        <img loading="lazy" src="/resources/images/logo.svg" width="50" height="50" alt="">
                </a>
     <div class="flex items-center justify-evenly">
         <button id="close-sidebar" class="ml-3 text-2xl">&#215;</button>
     </div>
     
    </div>

   <ul class="lead-sidebar">
       <li class="label">Get Started</li>
       <li><a href="#">Installation</a></li>
       <li><a href="#">Initialization</a></li>
       <li><a href="#">Integration</a></li>
       <li><a href="#">Rendering</a></li>
   </ul> 
   <ul class="lead-sidebar">
       <li class="label">Customization</li>
       <li><a href="#">Installation</a></li>
       <li><a href="#">Initialization</a></li>
       <li><a href="#">Integration</a></li>
       <li><a href="#">Rendering</a></li>
   </ul> 
   <ul class="lead-sidebar">
       <li class="label">Conversation</li>
       <li><a href="#">Installation</a></li>
       <li><a href="#">Initialization</a></li>
       <li><a href="#">Integration</a></li>
       <li><a href="#">Rendering</a></li>
   </ul> 
   
<p class="p-5 mt-10 text-center text-blue-500 font-bold">v6.0.10</p>

</aside>