            <nav class="flex items-center justify-between">
                <a href="/" class="flex items-center justify-center">
                    <div class="icon">
                        <img loading="lazy" src="/resources/images/logo.svg" width="50" height="50" alt="">
                    </div>
                    <h1 class="font-narrow leading-9 text-xl font-extrabold">
                        Zuma <span class="bg-blue-500 text-white font-extrabold px-2 py-px rounded-lg">UI</span>
                    </h1>
                </a>

                <div class="p-3 space-x-5">
                    <a href="#">Github</a>
                    <a href="#">APIs</a>
                </div>
            </nav>
