<%- include('partials/app',{metadata:{appName:"Zuma"}}) %>

        <header class="">
<%- include('partials/navbar') %>
        </header>

<section class="m-10 text-white text-center flex flex-col items-center justify-center">
    <h1 class="text-4xl p-5">404</h1>
    <p class="text-slate-500 uppercase">Page Not Found</p>
</section>


