
<%- include('partials/app',{metadata}) %>

        <header class="">
<%- include('partials/navbar') %>
        </header>

<section class="text-white p-5 rounded-lg bg-slate-500/30 max-w-md m-5 mb-10">
   <div class="flex flex-col items-end justify-end mb-6 pb-2 border-b border-b-slate-500/40">
    <h1 class="leading-8 text-3xl font-narrow mb-2">Sign Up</h1>
        <a href="/dev/auth/in" class="text-slate-500">Sign In</a>
   </div>
        
    <form>
    <div class="mb-4">
        <label for="email" class="flex items-center justify-between block my-3 text-slate-500/60">Email</label>
        <input class="text-white text-lg block w-full p-5 rounded-sm bg-slate-500/30" id="email m-auto" placeholder="user@example.com" required="required"/>
        <p class="text-red-500 text-sm my-3">Invalid Email</p>
    </div>
    <div class="mb-6">
        <label for="secret-words" class="flex items-center justify-between block my-3 text-slate-500/60">Type secret words <span class="text-xs text-orange-500">What's this?</span></label>
        <input class="text-white text-lg block w-full p-5 rounded-sm bg-slate-500/30" id="secret-words m-auto" placeholder="Answer..." required="required"/>
    </div>
    <button class="block p-4 rounded-lg bg-blue-500">Submit</button>
    </form>
    
</section>


<%- include('partials/footer') %>









  